<h2>Bitch about your journey!</h2>
<% form_for :bitch, :url => { :action => "show" } do |f|%>
            <fieldset class="feedback">
                <legend>Feedback</legend>
                <p class="from">
                	<%= f.label :from_location, "Where are you?" %><%= f.text_field :from_location %>
                </p>
                <p class="route">
                	<%= f.label :bitch_text, "What would you like to say?"%><%= f.text_area :bitch_text %> 
                </p>
                <p class="submit"><%= f.submit "Bitch away!" %></p>
            </fieldset>
<% end %>
